.brands {
  background-color: #e1ebf1;
}


/* ...........4th wave.......... */
.custom-shape-divider-top-1788603399 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1788603399 svg {
    position: relative;
    display: block;
    width: calc(289% + 1.3px);
    height: 138px;
}

.custom-shape-divider-top-1788603399 .shape-fill {
    fill: #e1ebf1;
}
