.testimonials {
    background: #59ace7 !important; 
}

/* wave separator */
.custom-shape-divider-bottom-1790077022 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1790077022 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 107px;
}

.custom-shape-divider-bottom-1790077022 .shape-fill {
    fill: #D9E6ED;
}

/* 2nd wave */
.custom-shape-divider-bottom-1790590724 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1790590724 svg {
    position: relative;
    display: block;
    width: calc(277% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1790590724 .shape-fill {
    fill: #59ACE7;
}

/* 3rd wave */
.custom-shape-divider-top-1790590927 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1790590927 svg {
    position: relative;
    display: block;
    width: calc(270% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1790590927 .shape-fill {
    fill: #59ACE7;
}